header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav_logo {
    font-size: 24px;
    color: #e9a209;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 2rem;
}


.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 700;
}

.nav-item.active  a {
    color: #1d1d1d;
    border-bottom: 2px solid #ffe100;

}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcb45;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.btn-default:hover {
    background-color: #f8d472;
}


#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #mobile_btn{
        display: block;
    }
    
    #nav_list, 
    #navbar .btn-default {
        display: none;
     
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;

    }
    
    #mobile_menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    ul {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin: 12px 0px;
        
    }

    ul > li {
        list-style: none;
        text-align: center;
    }
}