.testimonials {
    min-height: 100vh;
    min-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonials_chef {
    width: 500px;
    height: auto;
}

.testimonials .section-subtitle {
    font-size: 3rem;
}

.testimonials_content {
    width: 50%;
}


#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.feedbacks {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow:  0px 0px 12px 4px rgba(0, 0, 0, 0.551);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;

}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
    color: #e9a209;
}